.header {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #0e6;
  text-align: center;
  font-size: 18px;
  color:#fff;
  position:relative;
  .hl{
  	position:absolute;
  	top:0px;
  	left:15px;
  }
  .hr{
  	position:absolute;
  	top:0px;
  	right:15px;
  }
  p{
  	width:40%;
  	margin-left:30%;
  	border-radius:12px;
  	overflow:hidden;
  	background:#64d944;
  	height:24px;
  	line-height:24px;
    margin-top: 8px;
	a{
  	   display:block;
  	   float:left;
  	   width:49%;
  	   color:#fff;
  	}
  	.shu{
  	    background: limegreen;
  	}

  }
}
.Snav{
  width: 100%;
  height:40px;
  line-height: 40px;
  @include flexbox();
  a{
    display:block;
    color:#000;
    text-align:center;
    width:33%;
    float:left;
    font-size: 14px;
  }
}
.section {
  width: 100%;
  overflow-y: scroll;
  z-index: 0;
  padding-bottom: 44px;
  .cont{
    width: 100%;
    dl{
      width: 48%;
      float: left;
      text-align: center;
      img{
        width: 100%;
        height: auto;
      }
      dd{
        height: 30px;
        line-height: 30px;
      }
    }
    .centerDl{
      width: 2%;
      height: 20px;
    }
    dl:nth-child(1n){
      margin-right: 2%;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  line-height: 22px;
  nav{
    background:#fff;
    @include flexbox();
    a{
     display:block;
     color:#000;
     text-align:center;
     @include flex();
    }
    .comaro{
      height:50px;
      margin-top:-18px;
      border:1px solid #000;
      border-radius:25px;
      font-size: 40px;
      line-height: 40px;
     }
  }
}
.active{
  border-bottom: 2px solid #00ffff;
}